*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: auto;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app__headerImage {
  object-fit: contain;
}

.app__postsLeft {

}

.app__postsRight {
  margin-left: 20px;
}


